<div class="field has-addons">
    <div class="control" style="width: 100%">
        <input type="text"
            class="input"
            placeholder="path to file or folder"
            [(ngModel)]="path">
    </div>
    <div class="control">
        <button class="button" (click)="go();">
            <span [hidden]="isLoading"><i class="fas fa-share-square"></i></span>
            <span [hidden]="!isLoading"><i class="fas fa-spinner fa-spin"></i></span>
        </button>
    </div>
</div>

<div class="information is-info" [hidden]="!isEmptyPath">
    Please enter a path to anaylze.
</div>