.article-container {
    position: relative;
    padding: 1em;
    border:solid 1px #eee;
    border-radius: 4px;
    margin-bottom:10px;
}

.article-container:hover {
    border:solid 1px #ccc;
    background-color: #fafafa;
}

.article {
    cursor: pointer;
}

.article h3 {
    font-weight: 450;
}

.article .tag {
    margin-left: 10px;
}

.results {
    background-color: #fff;
    padding: 20px;
    border-top: 1px solid #eee;
    margin-top:10px;
}

.close-button {
    position: absolute;
    right: 50px;
}

.tools {
    position: absolute;
    right: 15px;
    top: 16px;
    color: #ccc;
}

.tools i:hover,
.close-button a.delete:hover {
    color:hsl(204, 86%, 53%) !important;
}

span.is-warning {
    background-color: #fff5d0;
}