.sub {
    display: inline-block;
    margin-top: -10px;
}

details {
    padding: 1em;
    border:solid 1px #eee;
    border-radius: 4px;
    margin-bottom:10px;
}

details .results {
    background-color: #fff;
    padding: 20px;
    border-top: 1px solid #eee;
}

summary {
    cursor: pointer;
}

details:hover {
    background-color: #f6f6f6;    
}

summary::-webkit-details-marker {
    display: none;
}

summary:focus {
    outline: 0;
}

.results-container {
    margin-top:25px;
}

.close-button {
    position: absolute;
    right: 50px;
}